* text=auto eol=lf

*.gradle text
*.java text
*.jhm text
*.properties text
*.psf text
*.py text
*.md text
*.html text
*.hs text
*.script text
*.xml text

*.bat eol=crlf
*.sh text
gradlew text

*.jar binary
*.png binary